body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, #0099CC, #FF9966)
}
/* ———— */

/* Icon */
div.tool-icon {
    z-index: 999;
    top: 0;
    width: 3vw;
    margin: 2vh 1vw
}
div.right {right: 0}
img.icon {
    cursor: pointer;
    filter: blur(3px);
    transition: .3s
}
img.icon:hover {filter: blur(0)}
div.tool-icon > img.icon {
    width: 100%;
    margin-bottom: 1rem
}
/* ———— */

/* Dropdown & Menu & Item */
div.dropdown {margin-bottom: 1rem}
div.dropdown:hover img.icon {filter: blur(0)}
div.dropdown > div.menu {
    right: -1vw;
    max-height: 0;
    margin-top: .4rem;
    border-width: 0 !important;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(255, 255, 255, .75);
    transition: .6s
}
div.dropdown:hover div.menu {
    border-width: 1px !important;
    max-height: 100vh
}
div.menu > div.item {
    color: #333;
    padding: 2px .4rem;
    border-bottom: solid 2px #333;
    user-select: none;
    cursor: pointer;
    transition: .2s
}
div.menu > div.item:last-child {border: none}
div.menu > div.item:hover {
    color: white;
    background-color: #666
}
div.menu > div.item:active {background-color: #333}
/* ———— */

/* Main */
#main {
    width: 90vw;
    height: 84vh;
    max-height: calc(100vh - 50px);
    margin: 4vh 5vw;
    border-radius: .6rem;
    background-color: rgba(255, 255, 255, .45)
}
/* ———— */

/* Navbar */
nav.navbar {
    padding: .5rem 1rem;
    opacity: .85;
    box-shadow: 0 .5rem 1rem -2px rgba(0, 0, 0, .15)
}
img.navbar-brand {height: 2.5rem}
img.navbar-brand, div.navbar-brand, a.nav-link {user-select: none}
a.nav-link {outline: none}
div.nav-sep { /* nav separator */
    width: 3px;
    height: 100%;
    background-color: #666
}
a.nav-link {color: #666}
a.nav-link:hover {color: #333}
/* ———— */

/* User imgs */
div.user-imgs {
    position: relative;
    width: 85%;
    max-height: 500px;
    border-radius: 0 0 .4rem .4rem
}
@media screen and (min-width: 800px) {
    div.user-imgs {border-radius: 0 0 .6rem .6rem}
}

#user-avatar {
    left: 2rem;
    bottom: 1rem;
    width: 16%
}
#user-background {
    margin-top: -15%;
    margin-bottom: -15%
}
div.cover {
    left: 0;
    bottom: 0;
    box-shadow: 0 0 2rem rgb(0, 0, 0, .6) inset
}
/* ———— */

/* Scroll */
#scroll {padding: 0 1rem}
@media screen and (min-width: 800px) {
    #scroll {padding: 0 1.5rem}
}
h4.scroll-title {
    display: inline-block;
    margin: 1rem 0 0;
    padding: .2rem .5rem .1rem;
    border-radius: 6px 6px 0 0;
    background-color: rgba(51, 51, 51, .6)
}
div.scroll-sep {
    height: 4px;
    margin-bottom: 1rem;
    background-color: #333
}

div.scroll-content {
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap
}
div.scroll-item {
    width: 120px;
	max-width: 14vw;
	margin: 0 .4rem 1rem;
	overflow: hidden
}
@media screen and (min-width: 800px) {
    div.scroll-item {margin: 0 .6rem 1rem}
}
div.item-img {position: relative}

img.icon-play {
    position: absolute;
    bottom: 0;
	right: 0;
    width: 44px;
	max-width: 5vw;
    padding: .1rem;
    filter: blur(0);
    opacity: .3;
    background-color: #333;
    border-radius: 9px 0 0 0
}
img.icon-play:hover {opacity: .75}
p.item-name {
	padding: .1em .4em;
	color: white;
	background-color: rgba(51, 51, 51, .45);
	cursor: pointer
}
p.item-name:hover {text-decoration: underline}
/* ———— */

/* Playbar */
#playbar {
    position: relative;
	opacity: .75;
	height: 8vh;
	max-height: 50px;
	border-radius: 12px 12px 0 0
}
audio {
    width: 60vw;
    outline: none
}
#song-name {
    position: absolute;
    bottom: 100%;
    max-height: 0;
    border-radius: 6px 6px 0 0;
    color: #333;
    background-color: #E5E7E6;
    overflow: hidden;
    transition: .3s
}
#playbar:hover #song-name {
    max-height: 100vh;
    padding: .2rem .5rem
}

img.button {
    padding: .4rem 0;
    margin: 0 2vw;
    user-select: none
}
img.btn-back {transform: rotate(180deg)}
img.btn-back, img.btn-next {padding: .2rem 0}
