/* Btn | Button */
.btn {
    font-size: large;
    color: white !important;
    background-color: var(--btn-bg-cl)
}
.btn:hover {
    background-color: var(--btn-hover-bg-cl)
}
.btn:focus {
    box-shadow: 0 0 0 0.2rem var(--btn-shadow-cl) !important
}
/* ———— */

/* 按钮 | Icons */
div.tool-icon { /* 按钮菜单 | Icon Menu */
    z-index: 11;
    top: 0;
    width: 3vw;
    margin: 2vh 1vw
}
div.right {right: 0} /* 在右边的按钮菜单 | Right Icon Menu */
img.icon {
    height: 100%;
    cursor: pointer;
    filter: blur(3px);
    user-select: none;
    transition: .2s
}
img.icon:hover, img.icon-active {filter: blur(0)}
img.icon:active {opacity: .75}
div.tool-icon > img.icon {
    width: 100%;
    margin-bottom: 1rem
}

/* 播放按钮 | Play Icon */
img.icon-play {
    opacity: .3;
    transition: .2s
}
img.icon-play:hover {opacity: .85}
img.icon-play:active {opacity: .6}
