/* 播放栏 | Playbar */
#playbar {
    position: relative;
	height: 8vh;
	max-height: 50px;
	border-radius: 12px 12px 0 0;
    background-color: var(--playbar-bg-cl)
}
audio {
    width: 60vw;
    outline: none
}
img.button {
    padding: .4rem 0;
    margin: 0 2vw;
    user-select: none
}
/* 前进 & 后退 按钮 */
img.btn-back {transform: rotate(180deg)} 
img.btn-back, img.btn-next {padding: .2rem 0}
#love {display: inline-block !important}
/* 播放栏控件 | Playbar Widget */
div.playbar-widget {
    position: absolute;
    bottom: 100%;
    overflow: hidden;
    background-color: var(--playbar-bg-cl)
}
#song-name { /* 正在播放的单曲名 */
    color: var(--default-text-cl);
    max-width: 85vw;
    max-height: 0;
    border-radius: .3rem .3rem 0 0;
    transition: .3s
}
#playbar:hover #song-name {
    max-height: 100vh;
    padding: .2rem .5rem
}

/* 播放列表 */
#playlist {
    width: 75vw;
    height: 40vh;
    max-width: 800px;
    border-radius: .6rem .6rem 0 0;
    box-shadow: 0 -.3rem 1rem -4px var(--dark-shadow-cl), /* 周围阴影 */
                0 -.5rem 1rem -6px var(--dark-shadow-cl) inset; /* 底边阴影 */
    pointer-events: none;
    opacity: 0;
    transition: .6s
}
#playlist img.navbar-brand {padding: .4rem 0}
#playlist ul.nav-pills {max-width: calc(100% - 2rem)}
#playlist-name { /* 播放列表 歌单/专辑/歌手 名称 */
    max-width: calc(75vw - 8rem);
    padding: 0.3625rem 0;
    font-size: 1.15rem
}
div.playlist-active {
    opacity: 1 !important;
    pointer-events: auto !important
}
#playlist > nav.navbar {
    padding: .1rem 1rem
}
