/* 分屏样式 | Split Style */
div.main-fold #main-scroll {padding: 0 1rem}
#split-scroll {padding-bottom: 24px}

/* 专辑样式 */
#split-scroll div.scroll-content {padding: 0 1rem}
@media screen and (min-width: 800px) {
    #split-scroll div.scroll-content {padding: 1rem 1.5rem 0}
}

@media screen and (max-width: 999px) {
    /* main 分屏状态 */
    div.main-fold {opacity: 0}
    div.main-fold div.scroll-item {display: none !important}
    /* split 分屏状态 */
    div.split-unfold {
        width: 90vw !important;
        margin-right: 5vw !important;
    }
    div.split-unfold #split-nav-title {
        max-width: calc(90vw - 9.5rem - 3px);;
        margin: 0
    }
}
@media screen and (min-width: 1000px) {
    /* main 分屏状态 */
    div.main-fold {width: 43vw !important}
    div.main-fold div.scroll-item, div.split-unfold div.scroll-item {
        max-width: 10vw !important;
        margin: 0 .4rem 1rem !important
    }
    div.main-fold div.user-imgs {border-radius: 0 0 .4rem .4rem} /* 分屏状态下用户图像 */
    @media screen and (min-width: 1560px) { /* 断点 */
        div.main-fold {width: 44vw !important}
        div.main-fold div.user-imgs {border-radius: 0 0 .6rem .6rem}
    }

    div.main-fold .recommend {max-height: 10vw}
    div.main-fold .nav-pills:first-child {
        transition: 1s;
        border-bottom: solid 3px var(--nav-link-cl);
        width: 100%
    }
    div.main-fold #main-nav-items {
        margin-left: auto;
        margin-right: auto
    }
    div.main-fold img.navbar-brand {
        position: fixed
    }
    div.main-fold #main-nav-title {
        width: 100%;
        text-align: center
    }
    /* split 分屏状态 */
    div.split-unfold {
        width: 43vw !important;
        margin-right: 5vw !important
    }
    div.split-unfold #split-nav-title {
        max-width: calc(43vw - 9.5rem - 3px);;
        margin: 0
    }

    div.split-unfold div.artist-imgs {border-radius: 0 0 .4rem .4rem} /* 分屏状态下用户图像 */
    @media screen and (min-width: 1560px) { /* 分屏状态下用户图像 */
        div.split-unfold {width: 44vw !important}
        div.split-unfold div.artist-imgs {border-radius: 0 0 .6rem .6rem}
    }
}
/* 分屏容器 */
div.split-outer {
    top: 4vh;
    right: 0
}
#split {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 84vh;
    margin-right: 0;
    border-radius: .6rem;
    background-color: var(--split-bg-cl);
    transition: .8s;
    contain: content
}
#split:not(:last-child) {width: 0 !important}

/* 歌手图像 */
#split-scroll div.cover-outer { /* 容器 */
    position: relative;
    width: 85%;
    max-height: 360px;
    margin-bottom: 1rem;
    border-radius: 0 0 .4rem .4rem;
    background-color: white
}
@media screen and (min-width: 800px) and (max-width: 999px) {
    div.cover-outer {border-radius: 0 0 .6rem .6rem}
}

#split-scroll img.cover {
    width: 100%;
    margin-top: -15%;
    margin-bottom: -15%;
    user-select: none;
}
#split-scroll div.mask { /* 歌手头像蒙版 */
    left: 0;
    bottom: 0;
    box-shadow: 0 0 2rem var(--light-shadow-cl) inset
}

/* 播放全部按钮 */
button.btn-play-all {
    padding: .2rem .75rem;
    border: none;
    border-radius: .3rem .3rem 0 0 !important
}
#split-scroll div.scroll-sep {
    height: 3px;
    margin: 0 1.5rem 1rem;
    background-color: var(--btn-hover-bg-cl)
}
