body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    background-image: linear-gradient(to bottom right, #0099CC, #FF9966)
}
/* scrollbar */
#scroll::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(249, 250, 251, 0.85)
}
#scroll::-webkit-scrollbar-thumb {background-color: #999}
#scroll::-webkit-scrollbar-thumb:hover {background-color: #666}
#scroll::-webkit-scrollbar-thumb:active {background-color: #333}
/* ————————— */

/* Main */
img.icon {
    cursor: pointer;
    filter: blur(3px);
    transition: .3s
} 
img.icon:hover {filter: blur(0)}
img.icon-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 3vw;
    margin: 2vh 1vw;
}
#main {
    width: 90vw;
    height: 84vh;
    max-height: calc(100vh - 50px);
    margin: 4vh 5vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.4)
}
/* ———— */

/* Scroll */
#scroll {padding: 0 1rem}
h4.scroll-title {
    display: inline-block;
    margin: 1rem 0 0;
    padding: .2rem .5rem .1rem;
    border-radius: 6px 6px 0 0;
    background-color: rgba(51, 51, 51, 0.6)
}
div.scroll-sep {
    height: 4px;
    margin-bottom: 1rem;
    background-color: #333;
}

div.scroll-content {
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
div.scroll-item {
    width: 120px;
	max-width: 14vw;
	margin: 0 6px 12px;
	border-radius: 8px;
	overflow: hidden
}
div.item-img {position: relative}

img.icon-play {
    position: absolute;
    bottom: 0;
	right: 0;
    width: 44px;
	max-width: 5vw;
    padding: .1rem;
    opacity: .6;
    background-color: #333;
    border-radius: 9px 0 0 0
}
p.item-name {
	padding: .1em .4em;
	color: white;
	background-color: rgba(51, 51, 51, 0.4);
	cursor: pointer
}
p.item-name:hover {text-decoration: underline}
/* ———— */

/* Navbar */
nav.navbar {
    opacity: .85;
    box-shadow: 0 .5rem 1rem -1px rgba(0, 0, 0, 0.15)
}
img.navbar-brand {height: 2.5rem}
img.navbar-brand, div.navbar-brand, a.nav-link {user-select: none}
a.nav-link {outline: none}
div.nav-sep { /* nav separator */
    width: 3px;
    height: 100%;
    background-color: #666
}
/* ——————— */
/* Playbar */
#playbar {
    position: relative;
	opacity: .75;
	height: 8vh;
	max-height: 50px;
	border-radius: 12px 12px 0 0
}
audio {
    width: 60vw;
    outline: none
}
#song-name {
    position: absolute;
    bottom: 100%;
    max-height: 0;
    border-radius: 6px 6px 0 0;
    color: #333;
    background-color: #E5E7E6;
    overflow: hidden;
    transition: .3s
}
#playbar:hover #song-name {
    max-height: 100vh;
    padding: .2rem .5rem
}

img.button {
    padding: .4rem 2vw;
    user-select: none
}
img.btn-back {transform: rotate(180deg)}
img.btn-back, img.btn-next {padding: .2rem 2vw}
